<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @place.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Location:</strong>
  <%= @place.location %>
</p>

<p>
  <strong>Active:</strong>
  <%= @place.active %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
